/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
	font-family: 'PTSansFont';
	src: url('font/PT_Sans-Web-Regular.ttf'); 
}

@font-face {
	font-family: 'PTSansFont';
    src: url('font/PT_Sans-Web-Bold.ttf'); 
    font-weight: bold;
}

body {
    font-family: 'PTSansFont', sans-serif;
}

.hero img {
    width: 100%;
}

.topbar {
    position: absolute;
    width: 100%;
}

.topbar ul {
    width: 447px;
    margin: 0 auto;
}

.topbar li {
    letter-spacing: 2px;
    padding: 0 12px;
    float: left;
    position: relative;
    top: 57px;
    transform: translateY(-50%);
    font-size: 11;
    font-weight: bold;
}

.topbar li a {
    text-decoration: none;
    color: #4b4956;
}

.topbar li a img {
    width: 70px;
}

.section2 {
    padding-top: 86px;
    height: 275px;
    position: absolute;
    width: 100%;
    background: #f7f7f7;
}

.section2>p {
    font-size: 13px;
    text-align: center;
    width: 74%;
    margin: auto;
    padding-top: 16px;
    line-height: 28px;
    color: #0000009c;
}

.section2 header {
    margin: auto;
    text-align: center;
}

.section2 header p {
    padding-top: 25px;
    font-size: 14;
    letter-spacing: 2px;
}

.section2 img {
    margin: 0 109px;
    width: 42px;
}

